<div class="container center">
<% unless notice.nil? %>
  <div class="col-md-12">
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">  <strong>Mensaje:
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">

        <span aria-hidden="true">X</span>
      </button>
    </strong>
        <%= notice %></div>
  </div>


<% end %>
<% unless alert.nil? %>
  <div class="col-md-12">
    <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
      <strong>Alerta</strong>
      <%= alert %>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">X</span>
      </button>
    </div>
  </div>

<% end %>
  </div>
