<br>

<div class="container h-100">
     <div class="row justify-content-center h-100">
         <div class="col align-self-center text-center">
           <img src="/image/sigma-logo.png/" class="justify-content-center">
                <br>
                <br>
           <h3 class="tituloLanding">Prueba de desarrollo Sigma</h3>
           <br>
           <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galler of type and scrambled it to make a type specimen book.</p>
         </div>
     </div>
                <br>
                <br>

     <div class="row justify-content-center ">
         <div class="col-12 col-sm-6  align-self-center text-center columna">
           <img src="/image/sigma-image.png/" class="imagenLanding">

         </div>


         <div class="col-12 col-sm-6  align-self-center text-center columna">

           <div class="card rounded shadow p-3 mb-5 bg-white rounded">

              <div class="card-body">

                  <%= render "contacts/form", contact: @contact %>

              </div>

            </div>

         </div>

     </div>


 </div>
