<%= form_with(model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this @contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>

    <div class="col">
      <label class="left tituloLanding" for="exampleFormControlSelect1">Departamento*</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="col">
      <label class="left tituloLanding" for="exampleFormControlSelect1">Ciudad*</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>


    <br>

      <div class="col">
        <%= form.label "Nombre*",  class:"left tituloLanding" %>
        <%= form.text_field :nombre, class:"form-control" ,placeholder:"Pepito de Jesús" %>
      </div>
      <br>

      <div class="col">
        <%= form.label "Correo*",  class:"left tituloLanding" %>
        <%= form.text_field :correo , class:"form-control" ,placeholder:"Pepitodejesus@gmail.com" , type:"email"%>

      </div>


      <br>

      <div class="actions">
        <%= form.submit "Enviar",  class:"btn btn-lg rounded fondoRosa"%>
      </div>




    </form>




<% end %>
