<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contact.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @contact.correo %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @contact.departamento %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @contact.ciudad %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
