/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/functions";
@import "bootstrap";

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.tituloLanding{
  font-weight: 500;
}
.imagenLanding{
  width: 100%;
}
.left{
  float: left;
}
.fondoRosa{
  background: #e03b65;
  color: white;
  border-radius: 150px !important;
  padding: 10px 10%;
}
.columna{
  width: 50% !important;
}

@media (max-width:375px) {
  .columna{
    width: 100% !important;
  }

 }
