<!DOCTYPE html>
<html>
  <head>
    <title>Sigma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">



  </head>

  <body>
    <%= render "partials/notificaciones.html"%>
    <%= yield %>
  </body>
</html>
